.about-page-section {
    padding: 93px 0 48px 0;
    background: var(--BG-Color-01, radial-gradient(136.17% 136.17% at 50% 100%, #E9D9FF 15.25%, rgba(255, 255, 255, 0.00) 100%));
    overflow-x: hidden;
}

.about-page-area {
    text-align: center;
}

.about-sub {
    color: #260058;
    border-radius: 100px;
    font-weight: 500;
    background: #F0E3FF;
    padding: 10px 30px;
}

.about-text {
    color: var(--Text-Color-02, #2E2E2E);
    padding: 24px 0 48px 0;
}
