.counting-section {
    background: var(--Color-04, #F9F4FF);
    padding: 62px 0;
}

.counting-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count-head {
    color: var(--Primary-Color, #260058);
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 150%;
}

.count-text {
    color: var(--Secondary-Color, #5C0DC6);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}
