.service-section {
    background-color: #260058;
    padding: 100px 0 140px 0;
}

.service-area {
    display: flex;
    align-items: center;
    padding-bottom: 67px;
}

.service-section .new_card {
    padding: 124px 54px 32px 54px;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(../images/border.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Primary-Color, #260058);
    border-radius: 28px;
    background-position: bottom;
}

.service-section .new_card:hover {
    background-image: none;
    background: var(--Color-02, #3E1378);
    border: 1px solid var(--Linear-02, #3E1378);
    box-shadow: 0px 126px 76px 0px rgba(0, 0, 0, 0.05), 
                0px 224px 90px 0px rgba(0, 0, 0, 0.01), 
                0px 351px 98px 0px rgba(0, 0, 0, 0.00);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.new-card-img-top {
    max-width: 60px;
    max-height: 60px;
    margin: auto;
}

.new_card i {
    font-size: 22px;
    color: #AE72FF;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card-title {
    color: var(--Neutral-Color, #FFF);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 18px;
    padding-top: 24px;
}

.card-text {
    color: #D0D0D0;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 42px;
}
