.footer__section {
    padding: 140px 0 80px 0;
    background: var(--Primary-Color, #260058);
    margin-top: 140px;
    border: 1px solid #5C0DC6;
}

.footer-parent {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-logo-text {
    padding: 34px 0 26px 0;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 19px;
}

.social-media i {
    color: #AE72FF;
}

.company-title {
    color: var(--Neutral-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 40px;
}

.contact-child {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    color: var(--Text-Color-03, #D0D0D0);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.privacy__section {
    background: var(--Primary-Color, #260058);
    padding: 17px 0;
}

.privacy__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-title,
.privacy-title {
    color: var(--Neutral-Color, #FFF);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #260058;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 12px;
}

::-webkit-scrollbar-track:horizontal {
    border-radius: 12px;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #260058 #f1f1f1;
}

*::-moz-scrollbar-thumb {
    background-color: #260058;
    border-radius: 12px;
}

*::-moz-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 12px;
}
