.service-integrate-section {
    padding: 140px 0;
    background: var(--BG-Color-01, radial-gradient(136.17% 136.17% at 50% 100%, #E9D9FF 15.25%, rgba(255, 255, 255, 0.00) 100%));
}

.integrate-sub {
    color: #260058;
    border-radius: 100px;
    font-weight: 500;
    background: var(--Color-06, #F0E3FF);
    padding: 10px 22px;
}

.integrate-title {
    padding: 24px 0;
}

.integrate-img {
    max-width: 846px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 51px;
}

.integrate-img img {
    border-radius: 51px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.integrate-img img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.integrate-text {
    color: #2E2E2E;
    padding-bottom: 24px;
}
