.service-section {
    background-color: #260058;
    padding: 100px 0 140px 0;
}

.service-area {
    display: flex;
    align-items: center;
    padding-bottom: 67px;
}

.service-section .new_card {
    background-color: #3E1378;
    border-radius: 28px;
    cursor: pointer;
}

.card-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px 32px 32px;
}

.new-card-img-top {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 28px;
}

.new-card-img-top img {
    border-radius: 28px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.new-card-img-top img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.new_card i {
    font-size: 22px;
    color: #AE72FF;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card-title {
    color: var(--Neutral-Color, #FFF);
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    padding: 32px 0 12px 32px;
}

.card-text {
    color: #D0D0D0;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
}
