.choose-section {
    padding: 140px 0;
}

.choose-img {
    max-width: 574px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 51px;
}

.choose-img img {
    border-radius: 51px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.choose-img img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.choose-child {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-bottom: 24px;
}

.choose-sub {
    background: var(--Color-04, #F9F4FF);
}

.fs-18 {
    font-size: 18px;
}

.fs-52-c {
    font-size: 52px;
    color: #000; /* Customize this color as needed */
}

.fs-22-c {
    font-size: 22px;
    color: #000; /* Customize this color as needed */
}

.integrate-text {
    margin-top: 16px;
    line-height: 1.5;
}

.btn.dark {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn.dark:hover {
    background-color: #555;
}

@media (max-width: 375px) {
    .res-375 {
        font-size: 18px;
    }
}
