.testimonial-section,
.blog-section {
    margin-top: 140px;
}

.test-sub {
    text-align: center;
}

/* slick slider css */
.tst-wrapper {
    background-color: #F9F4FF;
    border-radius: 40px;
    padding: 48px 65px;
    text-align: center;
    margin-right: 30px;
}

.tst-wrapper .quote {
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 40px;
}

.rating .img-fluid {
    max-width: 60%;
    margin: auto;
    height: auto;
    padding: 24px 0 20px 0;
}

.client-name {
    color: var(--Primary-Color, #260058);
    font-size: 26px;
    font-weight: 600;
    line-height: 150%;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 48px;
}

.slick-dots li {
    width: 12px;
    height: 12px;
    background: #E1CBFF;
    border-radius: 50%;
}

.slick-dots button {
    display: none;
}

li.slick-active {
    background: #260058 !important;
}
