.service-detaile-section {
    padding: 93px 0 48px 0;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
    background: #fff;
    padding-bottom: 60px;
  }
  
  .service-detaile-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;
    z-index: -9;
    background: var(
      --BG-Color-01,
      radial-gradient(
        136.17% 136.17% at 50% 100%,
        #e9d9ff 15.25%,
        rgba(255, 255, 255, 0.0) 100%
      )
    );
  }
  
  .service-detaile-section::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -9;
    background: #fff;
  }
  
  .service-detaile-area {
    text-align: center;
  }
  
  .about-sub,
  .seo-sub {
    color: #260058;
    border-radius: 100px;
    font-weight: 500;
    background: #f0e3ff;
    padding: 10px 30px;
  }
  
  .about-text {
    color: var(--Text-Color-02, #2e2e2e);
    padding: 24px 0 48px 0;
  }
  
  .about-img {
    max-width: 1238px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 51px;
  }
  
  .about-img img {
    border-radius: 51px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
  
  .about-img img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  