.helping-section {
    background: #F9F4FF;
    padding: 140px 0 69px 0;
}

.help-title {
    text-align: center;
}

.help-text {
    text-align: center;
    padding: 32px 0 56px 0;
}

.accord-parent {
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid #D0D0D0;
}

.accord-text {
    padding: 24px 0 39px 0;
}

/* Additional styling for FAQ drawers */
.faq-drawer {
    margin-bottom: 20px; /* Add some spacing between each FAQ */
}

.faq-drawer__trigger {
    display: none; /* Hide the checkbox */
}

.faq-drawer__title {
    cursor: pointer;
    display: block;
    padding: 15px;
    background: #E0E0E0; /* Light background for titles */
    border-radius: 5px;
    /* transition: background 0.3s; */
}

.faq-drawer__title:hover {
    background: #D0D0D0; /* Change background on hover */
}

.faq-drawer__content-wrapper {
    display: none; /* Initially hide content */
    padding: 15px;
    background: #FFFFFF; /* Background for content */
    border: 1px solid #D0D0D0; /* Border around content */
    border-radius: 5px;
    margin-top: 10px;
}

.faq-drawer__trigger:checked + .faq-drawer__title + .faq-drawer__content-wrapper {
    display: block; /* Show content when checkbox is checked */
}
