.blog-section {
    margin-top: 140px;
}

.blog-wrapper {
    background-color: #F9F4FF;
    border-radius: 32px;
    padding: 32px;
    text-align: center;
    margin-right: 30px;
}

.blog-img-parent {
    max-width: 631px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 18px;
    cursor: pointer;
}

.blog-img-parent img {
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border-radius: 18px;
}

.blog-img-parent img:hover {
    transform: scale(1.2);
}

.blog-sub-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.blog-sub {
    border-radius: 100px;
    background: var(--Color-06, #F0E3FF);
    padding: 10px 28px;
    font-weight: 500;
    margin-bottom: 32px;
}

.blog-sub-2-parent {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.container {
    /* Add your container styles here */
}

.fs-18, .fs-18-c {
    font-size: 18px;
}

.fs-32-c {
    font-size: 32px;
}

.fs-52-c {
    font-size: 52px;
}

.about-sub {
    /* Add your styles for the about subtitle */
}
