.choose-section {
    padding: 140px 0; /* Adjust the padding as needed */
}

.choose-img {
    max-width: 574px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 51px;
}

.choose-img img {
    border-radius: 51px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.choose-img img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
