.service-section {
    padding: 140px 0;
}

.top-content {
    text-align: center;
}

.service-section .new_card {
    padding: 56px 101px 78px;
    text-align: center;
    border-radius: 28px;
    border: 1px solid var(--Line-Color-01, #EEE);
    background: var(--Neutral-Color, #FFF);
}

.service-section .new_card:hover {
    border: 1px solid #fff;
    background: var(--Color-04, #F9F4FF);
    box-shadow: 0px 199px 80px 0px rgba(0, 0, 0, 0.01), 
                0px 311px 87px 0px rgba(0, 0, 0, 0.00);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.first {
    display: block;
}

.second {
    display: none;
}

.new_card:hover .first {
    display: none;
    transition: 0.3s ease-in-out;
}

.new_card:hover .second {
    display: block;
    transition: 0.3s ease-in-out;
}

.new-card-img-top {
    max-width: 60px;
    max-height: 60px;
    margin: auto;
}

.card-title {
    color: var(--Primary-Color, #260058);
    font-size: 28px;
    font-weight: 600;
    line-height: 150%; /* 42px */
    padding: 24px 0 12px;
}
